[submodule "vendor/open-ralph-wiggum"]
	path = vendor/open-ralph-wiggum
	url = https://github.com/Th0rgal/open-ralph-wiggum.git
[submodule "vendor/ecc"]
	path = vendor/ecc
	url = https://github.com/affaan-m/ECC.git
[submodule "vendor/cobusgreyling-loop-engineering"]
	path = vendor/cobusgreyling-loop-engineering
	url = https://github.com/cobusgreyling/loop-engineering.git
